/* navbar starts */
@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');
*{
  margin:0;
  padding:0;
  font-family: 'Poppins',sans-serif;
}
body{
  background: #f2f2f2;
}
nav{
  background: #1b1b1b;
}

nav:after{
  content: '';
  clear: both;
  display: table;

}



nav ul{
  float:left;
  list-style: none;
  margin-right: 40px;
  position: relative;
}

nav ul li{

  
  display: inline-block;
  background: #1b1b1b;
  margin: 0 5px;
}

nav ul li a{
  color: white;
  text-decoration: none;
  line-height: 70px;
  font-size: 18px;
  padding:8px 15px;
}
nav ul li a:hover{
  color: cyan;
  border-radius: 50px;
  box-shadow: 0 0 5px #33ffff;
}
nav ul ul{
  position: absolute;
  top:90px;
  opacity: 0;
  visibility: collapse;
  transition: top .6s;
  border-top: cyan solid 5px;
}

nav ul li:hover > ul {
  top:72px;
  opacity: 1;
  visibility: visible;
}
nav .logo{
  float:left;
  color: whitesmoke;
  font-size: 30px;
  font-weight: 600;
  line-height: 70px;
  padding-left: 60px;
  text-align: center;
  display: block;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.logo:hover{
  color:green;
  cursor: pointer;
}
nav ul ul li{
  position: relative;
  margin: 0px;
  border-radius: 3px;
  width:180px;
  float: none;
  display: list-item;
  border-bottom: 1px solid rgba(0,0,0,0.3);
}
nav ul{
  float:right;
  list-style: none;
  margin-right: 40px;
}
nav ul ul a:hover{
  color:cyan;
  box-shadow:none;
}

/* navbar ends */

.image{
    display: block;
    text-align: right;
    margin-top: 0%;
    margin-right:20px;
    position: absolute;
    top: 20%;
    right: 7%;
    width:100%;
}

.banner {
  height: 40rem;
  margin-top: 2rem;
  background: #f3f3f3;
}

.button, .button-link, .button-muted, .provider-facebook, .provider-github, .provider-google {
  background: #101010;
  padding: 1.6rem;
  border: 1px solid #101010;
  color: #fff;
  font-weight: 700;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease;
  transition: all .3s ease;
}




.text
{
  font-size: 2.7em;
    font-weight: 600;
}


.gettouchbtn
{
  border: 1.5px solid #82A4E3;
    background: #82A4E3;
    color: #fff !important;
    transform: scale(1.05);
}

.section-heading
{
width: 100%;
    padding: 6vh 0 7vw 0vw;

    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 78px
}

.img-fluid {
  max-width: 100%;
  height: auto;
  margin-top:20px;
}


section.Product {
  width: 100%;
  float: left;
  padding: 10px 0;
}
section.Product .Product-box .details {
  width: 100%;
  float: left;
  padding-top: 8%;
}

section.Product .Product-box .icon img {
  height: 180px;
}

.btnlogin
{
  display: flex;
  justify-content: center;
  align-items: center;

}